body{
  background-image: linear-gradient(rgb(59, 4, 59), violet);
  margin: auto;
  padding: 0px;
}

.fundo{
  background-image: url("https://images5.alphacoders.com/820/820614.png");
  padding: 30px;
}

.top{
  display: flex;
  height: 200px;
  width: 1000px;
}

.Top-item{
  margin: 15px;
  height: 130px;
  text-align: center;
}


.name-pokemon{
  color: cornsilk;
  font-size: 50px ;
  font-style:italic;
  font-family: "Flexo-Medium",arial,sans-serif;
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
}

.next-prev{
  display: flex;
  justify-content: space-between ;
}


.next-previous{
  background-color: rgb(138, 8, 138);
  color: cornsilk;
  padding: 10px;
  margin: 40px;
  border-radius:10px;
  font-size: 30px;
  text-align: center;
  border-color: transparent;
  font-family: "Flexo-Medium",arial,sans-serif;
}

.next-previous:hover{
  opacity: 0.5;
  font-size: 35px;
}

.dice-pokemon{
  color: #191970;
  font-size: 25px ;
  font-style:italic;
  font-family: "Flexo-Medium",arial,sans-serif;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.dice-pokemon ul{
  padding: 0 70px;
}

.img{
  background-color: rgb(138, 8, 138);
  box-shadow: 9px 7px 5px rgba(50,50,50,0.77);
  border-radius: 6px;
  width: 300px;
  height: 300px;
  margin-top: 120px;

}

.dice-type{
  background-color:rgb(138, 8, 138);
  display: flex;
  flex-flow: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.type-style{
  display: flex;
  align-content: space-between;
}

.dice-table{
  margin-top: 50px;
}

.dice{
  background-color:rgba(138, 8, 138, 0.39);
  display: flex;
  flex-flow: column;
  width: 500px;
  margin-top: 50px;
}

.dice li{
  display: flex;
  flex-grow: 1;
}

.evolu{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  font-family: "Flexo-Medium",arial,sans-serif;
  font-size: 18px;
}

.evolu li{
  background-color: rgb(138, 8, 138);
  box-shadow: 9px 7px 5px rgba(50,50,50,0.77);
  color: cornsilk;
  padding: 0 70px;
  border-radius: 10px;
  margin: 40px;
  font-size: 20px;

}
.evolu li:hover{
  opacity: 0.5;
}

.btn-end{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.btn-explore{
  background-color:  rgb(52, 213, 235);
  color: rgb(86, 26, 136);
  width: 300px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;

}

.btn-explore:hover{
    font-size: 17px;
}


footer {
  background: #f8fafb8e;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: center;
}



