body{
  background-image: linear-gradient(rgb(157, 238, 157), blue, red);
  margin: auto;
  padding: 0px;
}

footer {
  width: 100%;
  padding: 10px 20px;
  background: #f8fafb;
  box-sizing: border-box;
  text-align: center;
}


.fundo{
  background-image: url("img/fundo.jpg");
  text-align: center;
  padding: 30px;
  width: 2000px;
}

.top{
  display: flex;
  height: 200px;
  width: 1000px;
}

.Top-item{
  margin: 15px;
  height: 130px;
  text-align: center;
}



#name{
  color: #191970;
    font-size: 50px ;
    font-style:italic;
    font-family: "Flexo-Medium",arial,sans-serif;
    margin-bottom: 0;
    text-align: center;

}

.dice-pokemon{
  color: #191970;
    font-size: 25px ;
    font-style:italic;
    font-family: "Flexo-Medium",arial,sans-serif;
    margin-bottom: 0;
    text-align: center;
}

.btn-back{
  width: 200px;
  color: #0000cd;
  text-align: center;
  font-weight: bold;
  font-family:"Flexo-Medium",arial,sans-serif;
  border-radius: 6px;
  background-color: #add8e6;
  font-size: 18px;
}

.evolu{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  font-family: "Flexo-Medium",arial,sans-serif;
  font-size: 18px;
  border: white;
}

.evolu li{
  padding: 0 70px;
}

.img{
  background-color: rgba(90, 228, 182, 0.335);
  border-radius: 6px;
  width: 300px;
  height: 300px;
  margin-top: 120px;
}

.dice-pokemon{
  display: flex;
  justify-content: center;


}

.dice-pokemon ul{
  padding: 0 70px;
}

.dice-table{
margin-top: 50px;
}
.dice-type{


  background-color:rgba(90, 228, 182, 0.335);
  margin-top: 50px;
  margin-bottom: 50px;
}

.dice{
  background-color:rgba(90, 228, 182, 0.335);
  margin-top: 50px;

}
