*{
    box-sizing: border-box;
    list-style: none;

}

.fundo{
    background-image: url("https://images5.alphacoders.com/820/820614.png");
    text-align: center;
    padding: 30px;
}

.top{
    display: flex;
    height: 200px;
    width: 1000px;
}

.Top-item{
    margin: 15px;
    height: 130px;
    text-align: center;
}

body{
    background-image: linear-gradient(rgb(59, 4, 59), violet);
    margin: auto;
    padding: 0px;


}

.list{
    background-color: transparent;
    width: 1000px;
    padding: 20px 15px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}

.container-search{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    padding: 10px;
}

.container-search-name{
    margin-right: 50px;
}

.container-list-order{
    margin-right: 50px;

}

li{
    border: 1px solid black;
    width: 150px;
    margin: 40px;
    text-align: center;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgb(138, 8, 138);
    color: cornsilk;
    font-size: 15px;
    font-weight: bold;
}



